exe_cmdline/
exe_html_view/
exe_qtapp/
zip/
*.1
*.o
*.stash
*.Debug
*.Release
*.a
*.0
*.so
Makefile*
mainmake*
command_registry_ex/debug/
command_registry_ex/release/
command_registry_ex/make/
command_registry/debug/
command_registry/release/
command_registry/doc/
command_registry/test-exec/
object_registry/debug/
object_registry/release/
object_registry/test/
html_view/debug/
html_view/release/
html_view/test/

